.article-detail {
    background-color: rgb(249, 253, 186);
    flex: 1;
    padding: 20px;
    border-left: 10px solid #ffffff;
    overflow-y: auto; /* 상세 정보가 길어질 경우 스크롤 */
  }
  
  .article-detail img {
    max-width: 400px; /* 원래 크기 */
    margin-top: 20px;
  }
  
  .article-detail h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .article-detail p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .article-detail a {
    color: #007bff;
    text-decoration: none;
  }
  
  .article-detail a:hover {
    text-decoration: underline;
  }
  
  .article-detail .description {
    white-space: pre-wrap; /* 줄바꿈을 유지하면서 자동으로 텍스트가 줄바꿈되도록 처리 */
  }
  
  